.ipynb_checkpoints/
__pycache__/
*.pyc
.virtualenv/
.env
*.zip
.venv
/courses/deeplearning.ai/torch/flower_data/
/courses/deeplearning.ai/torch/mnist_images/
/courses/deeplearning.ai/torch/corrupted_flower_data/
*.pt
*.pth
*.ptc
*.pkl
*.h5
*.onnx